* {
  direction: rtl;
}
html {
  height: 100%;
  margin: 0;
}
body {
  font-family: "Rubik", sans-serif;
  height: 100%;
}
.mainAbout {
  background-image: url("/images/mainabout.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 600px;
  position: relative;
  z-index: 1;
}

.mainAbout::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
.mainAbout__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mainAbout__content h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.mainAbout__content p {
  font-size: 1.5rem;
  font-weight: 400;
}
.main-questions {
  background-color: #f5f5f5;
  padding: 3rem;
}
.main-questions h2 {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 3rem;
  color: green;
}

.main-questions ul li {
  margin-bottom: 0px;
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
}
.main-questions ul li h3 {
  color: #333;
  font-size: 1.5rem;
  font-weight: 600;
}

.signin {
  background-image: url("/images/signin.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.loader {
  position: relative;
  width: 120px;
  height: 140px;
  background-image: radial-gradient(circle 30px, #fff 100%, transparent 0),
    radial-gradient(circle 5px, #fff 100%, transparent 0),
    radial-gradient(circle 5px, #fff 100%, transparent 0),
    linear-gradient(#fff 20px, transparent 0);
  background-position: center 127px, 94px 102px, 16px 18px, center 114px;
  background-size: 60px 60px, 10px 10px, 10px 10px, 4px 14px;
  background-repeat: no-repeat;
  z-index: 10;
  perspective: 500px;
}
.loader::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -55%) rotate(-45deg);
  border-right-color: transparent;
  box-sizing: border-box;
}
.loader::after {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  transform: translate(-50%, -55%) rotate(-45deg) rotateY(0deg);
  left: 50%;
  top: 50%;
  box-sizing: border-box;
  border: 7px solid #ff3d00;
  border-radius: 50%;
  animation: rotate 0.5s linear infinite;
}

@keyframes rotate {
  to {
    transform: translate(-50%, -55%) rotate(-45deg) rotateY(360deg);
  }
}
.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
